@{
    ViewData["Title"] = "Joe's Car Dealership Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joe's Car Dealership Website!</h1>
</div>

<p>This is the main website for the car dealership!</p>
