@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All rights goes to the Joe's Car Dealership. If you feel unhappy feel free to contact us.</p>

<div>
    <a asp-action="Contact">Go to Contacts</a>
</div>